/* Basic Style */

body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

ul {
  margin: 0;
  padding: 0px;
}

li {
  list-style: none;
}

.main-image {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.main-image__img {
  width: 100%;
}

.main-image__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .main-image {
    text-align: center;
  }

}

.todo {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.todo__add {
  display: flex;
}

.todo__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  cursor: pointer;
}

.todo__btn:hover {
  color: #3a3a3a;
}

.todo__btn,
.todo__input {
  outline: none;
}



/* Heading */

.todo__title {
  padding: 30px 0 10px;
  margin: 0;
  border-bottom: 2px solid #333;
  color: #333;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.todo__new-task,
.todo__label,
.todo__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.todo__new-task,
.todo__input {
  margin: 0;
  padding: 0 9px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  height: 21px;
  line-height: 18px;
  font-size: 18px;
  color: #888;
}

.todo__new-task:focus,
.todo__input:focus {
  color: #333;
}



/* New Task */

.todo__title {
  display: block;
  margin: 0 0 20px;
}

.todo__new-task {
  width: 318px;
}



/* Task list */

.todo-list {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.todo__checkbox {
  margin: 0 10px;
}

.todo__label {
  box-sizing: border-box;
  padding-left: 10px;
  width: 226px;
  font-size: 18px;
}

.todo__task .todo__input {
  width: 226px;
}

.todo__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.todo__img:hover {
  transform: rotateZ(0);
}



/* Completed */

.todo__task-completed .todo__label {
  text-decoration: line-through;
  color: #888;
}



/* Edit Task */

.todo__task .todo__input {
  display: none;
}

.todo-list_edit-mode .todo__input {
  display: inline-block;
  width: 224px;
}

.todo-list_edit-mode .todo__label {
  display: none;
}